<div class="header-container">
  <h1>Products</h1>
</div>

<table class="product-table">
  <thead>
    <tr>
      <th>Product Name</th>
      <th>Price (CAD)</th>
      <th>Add to Cart</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.name }}</td>
      <td>{{ product.price }}</td>
      <td>
        <button class="add-to-cart-btn" (click)="onAddToCart(product)">Add to Cart</button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Button to go to checkout page -->
<div class="checkout-link">
  <button class="go-to-checkout-btn" routerLink="/checkout">Go to Checkout</button>
</div>

<div class="footer">
  <p>Created by Mehdi Labbafi</p>
</div>