.header-container {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
}

.header-container h1 {
  margin: 0;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 20px; /* distance between links */
}

nav ul li {
  margin: 0;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px; /* Bigger font size for more readability */
}

nav ul li a:hover {
  color: #00aaff; /* Change the color of the link when hovering */
  text-decoration: underline;
}